| {% block body %}

#node-container.texture
	#node-overlay

	h1.texture-title {{node.name}}

	| {% if node.properties.license_type %}
	| {% if node.properties.license_notes %}
	.texture-license(
		id="asset-license",
		data-toggle="popover",
		data-placement="left",
		data-trigger="hover",
		data-content="{{ node.properties.license_notes }}",
		title="{{ node.properties.license_type }}")

		i(class="pi-license-{{ node.properties.license_type }}")
	| {% else %}
	.texture-license(
		id="asset-license",
		data-toggle="tooltip",
		data-placement="bottom",
		title="{{ node.properties.license_type }}")

		i(class="pi-license-{{ node.properties.license_type }}")
	| {% endif %}
	| {% endif %}

	| {% for f in node.properties.files %}
	section.node-row
		section.node-preview.texture
			img.node-preview-thumbnail(
				src="{{ f.file.thumbnail('m', api=api) }}",
				data-preview="{{ f.file.thumbnail('l', api=api) }}",
				data-aspect_ratio="{{ node.properties.aspect_ratio }}")

		| {% if f.map_type == 'col' %}
		| {% set map_type = 'Color Map' %}
		| {% elif f.map_type == 'bump' %}
		| {% set map_type = 'Bump Map' %}
		| {% elif f.map_type == 'spec' %}
		| {% set map_type = 'Specular Map' %}
		| {% elif f.map_type == 'nor' %}
		| {% set map_type = 'Normal Map' %}
		| {% elif f.map_type == 'translucency' %}
		| {% set map_type = 'Translucency' %}
		| {% elif f.map_type == 'emission' %}
		| {% set map_type = 'Emission' %}
		| {% elif f.map_type == 'alpha' %}
		| {% set map_type = 'Alpha' %}
		| {% endif %}

		section.node-details-container.texture

			.node-details-header
				.node-title {{map_type}}

			.node-details-attributes
				span.sizes
					| {{ f.file.width }}
					small x
					| {{ f.file.height }}

				span.extra.
					{% if f.is_tileable %}
						Tileable (seamless)
					{% endif %}

			.node-details-meta
				ul.node-details-meta-list
					li.node-details-meta-list-item.type
						| {{ f.file.content_type }}

					li.node-details-meta-list-item.image.length
						| {{ f.file.length | filesizeformat }}

					li.node-details-meta-list-item.image.download
						| {% if f.file.link %}
						a(href="{{ f.file.link }}", download="{{ f.file.filename }}")
							button.btn.btn-default(type="button")
								| Download {{map_type}}
						| {% else %}
						button.btn.btn-default.disabled.sorry(type="button")
							| Download {{map_type}}
						| {% endif %}
	| {% endfor %}


include ../_scripts

| {% endblock %}

| {% block footer_scripts %}
script.
	$('#asset-license').popover();
	// Generate GA pageview
	ga('send', 'pageview', (location.pathname + '#' + '{{node._id}}'));

	var str = $('.texture-title').text();
	var to_replace = /_col|_bump|_spec|_nor|_translucency|_emission|_alpha|_tileable|.jpg|.png/g;
	$('.texture-title').text(str.replace(to_replace,'').replace(/_/g,' '));

	$('.node-preview-thumbnail').each(function(i){
		$(this).closest('.node-preview').css({'height' : $(this).width() / $(this).data('aspect_ratio')});

		var thumbnail = $(this);
		var src = $(this).attr('src');
		var src_xl = $(thumbnail).data('preview');
		var src_xl_width, src_xl_height;

		/* Make dummy img in memory otherwise we have css issues */
		$("<img/>")
			.attr('src', src_xl)
			.load(function(){
				src_xl_width = this.width;
				src_xl_height = this.height;
		});

		$(this).on('click', function(e){
			e.preventDefault();
		});

		$(this).hover(
			function(){
				var preview = $(this);

				/* Replace image src with larger one */
				$(thumbnail).attr('src', src_xl);

				$(preview).css({width: src_xl_width + 'px', height: src_xl_height + 'px'});

				var parent = $(preview).parent();
				var parentOffset = parent.offset();

				if (src_xl_width > 600 || src_xl_height > 300) {

					$(document).on('mousemove', function(e){
						$(preview).css({
							left:  e.pageX - parentOffset.left - (src_xl_width / 2),
							top:   e.pageY - parentOffset.top - (src_xl_height / 2)
						});
					});
				};

			},
			function(){
				$(document).off('mousemove');
				$(this).attr('src', src);

				$(this).css({left: 0, top: 0, width: '100%', height: 'auto'});

			}
		);

	});

	$('.sorry').click(function() {
		$.get('/403', function(data) {
			$('#node-overlay').html(data).show().addClass('active');
		})
	});

	$('#node-overlay').click(function(){
		$(this).removeClass('active').hide().html();
	});

| {% endblock %}

