| {% extends 'layout.html' %}

| {% block og %}
meta(property="og:title", content="Blender Cloud")
meta(property="og:url", content="https://cloud.blender.org/")
meta(property="og:image", content="{% if main_project.picture_header %}{{ main_project.picture_header.thumbnail('l', api=api) }}{% else %}{{ url_for('static', filename='assets/img/backgrounds/background_caminandes_3_02.jpg')}}{% endif %}")
| {% endblock %}

| {% block tw %}
meta(name="twitter:title", content="Blender Cloud")
meta(name="twitter:description", content="Blender Cloud is a web based service developed by Blender Institute that allows people to access the training videos and all the data from the open projects.")
meta(name="twitter:image", content="{% if main_project.picture_header %}{{ main_project.picture_header.thumbnail('l', api=api) }}{% else %}{{ url_for('static', filename='assets/img/backgrounds/background_caminandes_3_02.jpg')}}{% endif %}")
| {% endblock %}

| {% block header_backdrop %}
.homepage.navbar-backdrop(
	style="background-image: url({% if main_project.picture_header %}{{ main_project.picture_header.thumbnail('l', api=api) }}{% else %}{{ url_for('static', filename='assets/img/backgrounds/background_caminandes_3_02.jpg')}}{% endif %})")
	//
		video(loop, muted, autoplay, poster="{{ url_for('static', filename='assets/img/backgrounds/background_join_glass.jpg')}}", class="fullscreen-bg__video")
			source(src="{{ url_for('static', filename='assets/video/header-glass_half.webm')}}", type="video/webm")
			source(src="{{ url_for('static', filename='assets/video/header-glass_half.mp4')}}", type="video/mp4")
.homepage.navbar-backdrop-overlay
| {% endblock %}


| {% block body %}
.homepage_container.page-content
	#header
		//- iframe(
		//- 	src="https://www.youtube.com/embed/SkVqJ1SGeL0?rel=0&amp;controls=1&amp;showinfo=0",
		//- 	frameborder="0",
		//- 	allowfullscreen)
		.text
			.title Blender Cloud Services
				//- img(src="{{ url_for('static', filename='assets/img/logo_gallery.png')}}")

			.lead
				span.
					Create your personal projects, collaborate with other Cloud members
					<br>
					and access the Texture Library from within Blender.

			.buttons
				a.btn.btn-default.btn-outline.orange(
					href="https://storage.googleapis.com/institute-storage/addons/blender_cloud-1.0.1-bundle.zip")
					i.pi-download
					|  Download Add-on
				a.btn.btn-default.btn-outline.blue(
					href="{{ url_for('services') }}")
					|  Learn More

.homepage_container.page-content
	#content
		section#updates.node-extra
			.node-updates
				a(href="{{ url_for('feeds_blogs') }}",
					title="Cloud & Project Blogs Feed",
					data-toggle="tooltip",
					data-placement="left").feed
					i.pi-rss
				h3 Blog Updates
				ul.node-updates-list
					| {% if latest_posts %}

					| {% for n in latest_posts %}
					li.node-updates-list-item
						| {% if n.picture %}
						a(href="{{ url_for('nodes.view', node_id=n._id, redir=1) }}")
							img.image(src="{{ n.picture.thumbnail('s', api=api) }}")
						| {% endif %}
						.info
							a.title(href="{{ url_for('nodes.view', node_id=n._id, redir=1) }}") {{ n.name }}
							span.details
								a.where(href="{{ url_for('projects.view', project_url=n.project.url) }}") {{ n.project.name }}
								span.who <small>by</small> {{ n.user.full_name }}
								| ·
								a.when(
									href="{{ url_for('nodes.view', node_id=n._id, redir=1) }}",
									title="Updated {{ n._updated | pretty_date }}") {{ n._created | pretty_date }}
					| {% endfor %}

					| {% else %}

					li.node-updates-list-item
						.info
							span.details
								span.when No updates yet.

					| {% endif %}

				h3 Latest Comments
				ul.node-updates-list
					| {% if latest_comments %}

					| {% for n in latest_comments %}
					li.node-updates-list-item.comments
						.info
							a.title(href="{{ url_for('nodes.view', node_id=n.parent._id, redir=1) }}") {{ n.properties.content }}
							span.details
								span.who {{ n.user.full_name }} ·
								a.when(
									href="{{ url_for('nodes.view', node_id=n.parent._id, redir=1) }}",
									title="{{ n._created }}") {{ n._created | pretty_date }}
								span.where
									|  ·
									a.parent(href="{{ url_for('nodes.view', node_id=n.parent._id, redir=1) }}") {{ n.parent.name }}
									| ·
									a.project(href="{{ url_for('projects.view', project_url=n.project.url) }}") {{ n.project.name }}

					| {% endfor %}

					| {% else %}

					li.node-updates-list-item
						.info
							span.details
								span.when No comments yet.

					| {% endif %}

		section#updates
			h3 Latest Assets
			.latestassets-list
				| {% if latest_assets %}

				| {% for n in latest_assets %}

				a.latestassets-list-item(href="{{ url_for('nodes.view', node_id=n._id, redir=1) }}", data-node_id="{{ n._id }}")
					| {% if n.picture %}
					img.image(src="{{ n.picture.thumbnail('b', api=api) }}")
					| {% else %}
					.image-empty
						| {% if n.properties.content_type == 'video' %}
						i.pi-film-thick
						| {% elif n.properties.content_type == 'image' %}
						i.pi-image
						| {% elif n.properties.content_type == 'file' %}
						i.pi-document
						| {% else %}
						i.pi-folder
						| {% endif %}
					| {% endif %}

					| {% if n.permissions.world %}
					.ribbon
						span free
					| {% endif %}

					.info
						.title(title="{{ n.name }}") {{ n.name }}
						span.details
							span.when
								span.what {{ n.properties.content_type }}
								span · {{ n._updated | pretty_date }}
							span.who by {{ n.user.full_name }}

				| {% endfor %}

				| {% else %}

				li.node-featured-list-item
					.info
						span.details
							span.when No featured items yet.

				| {% endif %}

| {% endblock %}

| {% block footer_scripts %}
script.
	/* cleanup mentions in comments  */
	$('li.node-updates-list-item.comments a.title').each(function(){
		$(this).text($(this).text().replace(/\*|\@|\<(.*?)\>/g, ''));
	});
| {% endblock %}
