| {% extends 'layout.html' %}
| {% block page_title %}Welcome{% endblock %}

| {% block og %}
meta(property="og:title", content="Join the Blender Cloud")
meta(property="og:url", content="https://cloud.blender.org/")
meta(property="og:image", content="{{ url_for('static', filename='assets/img/backgrounds/background_services.jpg')}}")
| {% endblock %}

| {% block header_backdrop %}
.navbar-backdrop.join(
	style="background-image: url({{ url_for('static', filename='assets/img/backgrounds/cloud_services_oti.jpg')}})")

.navbar-backdrop-overlay.join
| {% endblock %}

| {% block body %}
#page-container.join
	#page-overlay.video
		.video-embed

	#page-header
		.page-title-icons
			i.pi-blender
			i.pi-plus
			i.pi-blender-cloud
		.page-title
			| Your Own Production Platform
		.page-title-summary
			| Get inspiration, knowledge, and tools all in one place.

		.page-header-cta-container
			a.page-header-cta(href="https://store.blender.org/product/membership/")
				| Join Now

			a.page-header-cta-extra(href="{{ url_for('nodes_search_index') }}")
				| Explore
				i.pi-angle-right


	#page-content

		section.page-card-header Get Inspired

		section.page-card.services-projects

			.page-card-side
				.page-card-title Open Projects
				.page-card-summary
					p.
						The iconic Blender Institute Open Movies are available on the Blender Cloud,
						featuring all the production files, assets, artwork, and never-seen-before content.
			.page-card-side
				.page-card-image
					img(
						src="{{ url_for('static', filename='assets/img/features/open_movies_01.jpg')}}")


		section.page-card.right.services-projects

			.page-card-side
				.page-card-title High Quality Assets
				.page-card-summary
					p.
						From fully rigged characters ready to animate to an Art Gallery
						curated by Gleb Alexandrov, access top quality blendfiles to learn
						new techniques and improve your art.

			.page-card-side
				.page-card-image
					img(
						src="{{ url_for('static', filename='assets/img/features/assets_01.jpg')}}")



		section.page-card-header Get the Knowledge

		section.page-card.services-projects

			.page-card-side
				.page-card-title Complete Training Series
				.page-card-summary
					p.
						Character modeling, 3D printing, VFX, rigging and more. We offer
						12 complete training series with +100 hours of training. The list
						is constantly expanding, and past content is kept up to date.

			.page-card-side
				.page-card-image
					img(
						src="{{ url_for('static', filename='assets/img/features/training_01.jpg')}}")

		section.page-card.right.services-projects

			.page-card-side
				.page-card-title Exclusive Production Insights
				.page-card-summary
					p.
						Watch the original authors of shots breaking it down into a detailed
						explanation and share their insight in the production process. Watch
						animation reviews, narrated timelapses, shot walk-throughs.

			.page-card-side
				.page-card-image
					img(
						src="{{ url_for('static', filename='assets/img/features/animation_review_01.gif')}}")

		.get-the-tools(
			style="background-image: url({{ url_for('static', filename='assets/img/backgrounds/pattern_bw_01.jpg')}})")
			//- i.pi-blender
			section.page-card-header.dark Connect Blender with the Cloud

			section.page-card.dark

				.page-card-side
					.page-card-title Texture Browser Add-On
					.page-card-summary
						p.
							Access the <a href="https://cloud.blender.org/p/textures/">Blender Cloud Textures</a>
							library from within Blender using our exclusive add-on.
							Create, manage and share <em>your own</em> texture libraries!

					a.page-card-cta.download(
						href="https://storage.googleapis.com/institute-storage/addons/blender_cloud-1.1.0-bundle.zip")
						i.pi-download
						| Download <small>v</small>1.1
					a.page-card-cta.watch-video(
						youtube-id="-srXYv2Osjw")
						i.pi-play
						| Watch Video

				.page-card-side
					.page-card-icon
						svg(xmlns="http://www.w3.org/2000/svg",
								width="64", height="60",
								viewBox="0 0 64 60")
								g(fill="#aaa")
									path(d="M32 60c-.188 0-.377-.053-.542-.16l-31-20C.173 39.656 0 39.34 0 39s.173-.656.458-.84l31-20c.33-.213.754-.213 1.084 0l31 20c.285.184.458.5.458.84s-.173.656-.458.84l-31 20c-.165.107-.354.16-.542.16zM2.845 39L32 57.81 61.155 39 32 20.19 2.845 39z")
									path(d="M32 51c-.188 0-.377-.053-.542-.16l-31-20C.173 30.656 0 30.34 0 30s.173-.656.458-.84l31-20c.33-.213.754-.213 1.084 0l31 20c.285.184.458.5.458.84s-.173.656-.458.84l-31 20c-.165.107-.354.16-.542.16zM2.845 30L32 48.81 61.155 30 32 11.19 2.845 30z")
									path(d="M32 42c-.188 0-.377-.053-.542-.16l-31-20C.173 21.656 0 21.34 0 21s.173-.656.458-.84l31-20c.33-.213.754-.213 1.084 0l31 20c.285.184.458.5.458.84s-.173.656-.458.84l-31 20c-.165.107-.354.16-.542.16zM2.845 21L32 39.81 61.155 21 32 2.19 2.845 21z")
									path(d="M31 27h2v2h-2zm0-4h2v2h-2zm0 8h2v2h-2zm4-4h2v2h-2zm4 2h2v2h-2zm-16 0h2v2h-2zm12 2h2v2h-2zm-8-4h2v2h-2zm0 4h2v2h-2zm4 4h2v2h-2zm31 15h2v2h-2zm0-4h2v2h-2zm0 8h2v2h-2zm0 4h2v2h-2zm0-54h2v2h-2zm0-4h2v2h-2zm0 8h2v2h-2zm0 4h2v2h-2zM0 50h2v2H0zm0-4h2v2H0zm0 8h2v2H0zm0 4h2v2H0zM0 4h2v2H0zm0-4h2v2H0zm4 0h2v2H4zm4 0h2v2H8zm4 0h2v2h-2zm4 0h2v2h-2zm4 0h2v2h-2zm22 0h2v2h-2zm4 0h2v2h-2zm4 0h2v2h-2zm4 0h2v2h-2zm4 0h2v2h-2zM4 58h2v2H4zm4 0h2v2H8zm4 0h2v2h-2zm4 0h2v2h-2zm4 0h2v2h-2zm22 0h2v2h-2zm4 0h2v2h-2zm4 0h2v2h-2zm4 0h2v2h-2zm4 0h2v2h-2zM0 8h2v2H0zm0 4h2v2H0z")


			section.page-card.dark.right

				.page-card-side
					.page-card-title Personal Projects
					.page-card-summary.
						Create and manage your own private, personal projects.
						Upload assets and collaborate with other Blender Cloud members.

					a.page-card-cta(
						href="https://cloud.blender.org/blog/introducing-private-projects")
						| Learn More

				.page-card-side
					.page-card-icon
						svg(xmlns='http://www.w3.org/2000/svg', width='56', height='64', viewbox='0 0 56 64')
							g(fill='#aaa')
								path(d='M42 38H14V26h28v12zm-26-2h24v-8H16v8zm-4-5H8c-1.654 0-3-1.346-3-3V15h2v13c0 .55.45 1 1 1h4v2z')
								path(d='M9.293 19.707L6 16.414l-3.293 3.293-1.414-1.414 4-4c.39-.39 1.023-.39 1.414 0l4 4-1.414 1.414zM48 31h-4v-2h4c.55 0 1-.45 1-1V15h2v13c0 1.654-1.346 3-3 3z')
								path(d='M53.293 19.707L50 16.414l-3.293 3.293-1.414-1.414L50 13.586l4.707 4.707M27 15h2v9h-2z')
								path(d='M31.293 19.707L28 16.414l-3.293 3.293-1.414-1.414L28 13.586l4.707 4.707M7 49H5V36c0-1.654 1.346-3 3-3h4v2H8c-.55 0-1 .45-1 1v13z')
								path(d='M6 50c-.256 0-.512-.098-.707-.293l-4-4 1.414-1.414L6 47.586l3.293-3.293 1.414 1.414-4 4c-.195.195-.45.293-.707.293zm45-1h-2V36c0-.55-.45-1-1-1h-4v-2h4c1.654 0 3 1.346 3 3v13z')
								path(d='M50 50.414l-4.707-4.707 1.414-1.414L50 47.586l3.293-3.293 1.414 1.414M27 40h2v9h-2z')
								path(d='M28 50.414l-4.707-4.707 1.414-1.414L28 47.586l3.293-3.293 1.414 1.414M6 12c-3.31 0-6-2.692-6-6s2.69-6 6-6 6 2.692 6 6-2.69 6-6 6zM6 2C3.794 2 2 3.794 2 6s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zm22 10c-3.31 0-6-2.692-6-6s2.69-6 6-6 6 2.692 6 6-2.69 6-6 6zm0-10c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zm22 10c-3.31 0-6-2.692-6-6s2.69-6 6-6 6 2.692 6 6-2.69 6-6 6zm0-10c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zM6 64c-3.31 0-6-2.692-6-6s2.69-6 6-6 6 2.692 6 6-2.69 6-6 6zm0-10c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zm22 10c-3.31 0-6-2.692-6-6s2.69-6 6-6 6 2.692 6 6-2.69 6-6 6zm0-10c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zm22 10c-3.31 0-6-2.692-6-6s2.69-6 6-6 6 2.692 6 6-2.69 6-6 6zm0-10c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zM27 31h2v2h-2zm-4 0h2v2h-2zm8 0h2v2h-2z')

		section.pricing
			.container
				.row
					.col-md-12
						h2 Simple Pricing. Any payment method.
				.row
					.col-md-4.col-sm-4
						.box.monthly
							h3 Monthly
							.pricing-display
								span.currency-sign $
								span.digit-int 9
								span.digit-dec .90 / month*

							.pricing-caption
								p * with a 3-months minimum period

							a.sign-up-now(href="https://store.blender.org/product/membership/")
								| Subscribe Now

					.col-md-4.col-sm-4
						.box.yearly
							h3 Yearly
							.pricing-display
								span.currency-sign $
								span.digit-int 109
								span.digit-dec .00 / year
							.pricing-caption
								p 1 month free!
								p Free copy of the <a href="https://store.blender.org/product/art-of-blender-2/">Art of Blender</a>

							a.sign-up-now(href="https://store.blender.org/product/membership/")
								| Subscribe Now

					.col-md-4.col-sm-4
						.box.education
							h3 Education

							.pricing-caption
								p.
									We also provide flexible options for group subscription
									ideal for schools or teams.
								p.
									Get in touch to discuss direct support, custom solutions,
									team management tools and Single Sign-on.

							a.sign-up-now(href="mailto:cloudsupport@blender.org")
								i.pi-email
								| Get in Touch

		section.team(
			style="background-image: url({{ url_for('static', filename='assets/img/backgrounds/pattern_01.jpg')}})")
			.container
				.row
					.col-md-12
						h2.
							A restless team of artists and developers <br/>
							wants to share their work with you.

						.people-container
							.people-intro
								h3 Blender Institute
								span Amsterdam, The Netherlands

							.people-faces
								.face(data-blenderhead='ton')
									img(src="{{ url_for('static', filename='assets/img/people/ton.jpg')}}")
								.face(data-blenderhead='francesco')
									img(src="{{ url_for('static', filename='assets/img/people/francesco.jpg')}}")
								.face(data-blenderhead='pablo')
									img(src="{{ url_for('static', filename='assets/img/people/pablo.jpg')}}")
								.face(data-blenderhead='andy')
									img(src="{{ url_for('static', filename='assets/img/people/andy.jpg')}}")
								.face(data-blenderhead='hjalti')
									img(src="{{ url_for('static', filename='assets/img/people/hjalti.jpg')}}")
								.face(data-blenderhead='sergey')
									img(src="{{ url_for('static', filename='assets/img/people/sergey.jpg')}}")
								.face(data-blenderhead='sybren')
									img(src="{{ url_for('static', filename='assets/img/people/sybren.jpg')}}")

							.people-bio
								.bio#ton
									h3 Ton Roosendaal
										small CEO Blender Foundation. Producer Blender Institute
									span The Netherlands

								.bio#francesco
									h3 Francesco Siddi
										small Pipeline Tools & Back-end Web Development
									span Italy

								.bio#pablo
									h3 Pablo Vázquez
										small Lighting, Rendering. Front-end Web Development
									span Argentina

								.bio#andy
									h3 Andy Goralczyk
										small Shading, Lighting, Rendering, FX
									span Germany

								.bio#hjalti
									h3 Hjalti Hjálmarsson
										small Animation. Layout Artist.
									span Iceland

								.bio#sergey
									h3 Sergey Sharybin
										small Blender & Cycles Core Developer
									span Russia

								.bio#sybren
									h3 Sybren Stüvel
										small Blender Cloud Developer
									span The Netherlands


						.people-container.online
							.people-intro
								h3 Online Collaborators
								span Contributing to Blender Cloud from all over the globe.

							.people-faces
								.face(data-blenderhead='gleb')
									img(src="{{ url_for('static', filename='assets/img/people/gleb.jpg')}}")
								.face(data-blenderhead='david')
									img(src="{{ url_for('static', filename='assets/img/people/david.jpg')}}")
								.face(data-blenderhead='sebastian')
									img(src="{{ url_for('static', filename='assets/img/people/sebastian.jpg')}}")
								.face(data-blenderhead='jpbouza')
									img(src="{{ url_for('static', filename='assets/img/people/jpbouza.jpg')}}")
								.face(data-blenderhead='bassam')
									img(src="{{ url_for('static', filename='assets/img/people/bassam.jpg')}}")

							.people-bio
								.bio#gleb
									h3 Gleb Alexandrov
										small Lighting & Shading
									span Belarus

								.bio#david
									h3 David Revoy
										small Illustrator & Concept Artist
									span France

								.bio#jpbouza
									h3 Juan Pablo Bouza
										small Rigging
									span Argentina

								.bio#bassam
									h3 Bassam Kurdali
										small Rigging & Pipeline
									span United States

								.bio#sebastian
									h3 Sebastian König
										small VFX
									span Germany


		section.page-card.oneofus.
			Join <strong>2021</strong> awesome people, <a href="">subscribe to Blender Cloud</a> now.

		section.supported-by
			h2 Our projects were supported by
			img.logos(src="{{ url_for('static', filename='assets/img/support_logos.png') }}")

		section.page-card.subscribe(
			style="background-image: url({{ url_for('static', filename='assets/img/backgrounds/background_services.jpg')}});")
			.page-card-side
				.page-card-title
					| Get inspiration, knowledge, and tools in one place.
				.page-card-summary
					| Join us for only $9.90/month!
				a.page-card-cta(
					href="https://store.blender.org/product/membership/")
					| Subscribe Now


| {% endblock %}

| {% block footer_scripts %}
script.
	function getSubscribers(){
		$.get('https://store.blender.org/product-counter/?prod=cloud', function(data) {
		}).done(function(data){
			if (data.total_sold > 0) {
				$('.page-card.oneofus').addClass('active');
				$('.page-card.oneofus strong').html(data.total_sold);
			}
		});
	}

	getSubscribers();

	$('.people-faces .face').hover(
		function(){
			var who = $(this).data('blenderhead');
			$('#' + who).addClass('active');
			$(this).parent().prev().addClass('active');
		},
		function(){
			$('.bio, .people-intro').removeClass('active');
		}
	);

	// Click anywhere in the page to hide the overlay
	function hideOverlay() {
		$('#page-overlay.video').removeClass('active');
		$('#page-overlay.video .video-embed').html('');
	}

	$(document).click(function() {
		hideOverlay();
	});

	$(document).keyup(function(e) {
		if (e.keyCode == 27) {
			hideOverlay();
		}
	});

	$('a.watch-video').click(function(e){
		e.preventDefault();
		e.stopPropagation();

		$('#page-overlay.video').addClass('active');

		var videoId = $(this).attr('youtube-id');
		$('#page-overlay .video-embed').html('<iframe src="https://www.youtube.com/embed/' + videoId +'?rel=0&amp;showinfo=0;autoplay=1" frameborder="0" allowfullscreen></iframe>')
	});

| {% endblock %}
