| {% extends 'layout.html' %}
| {% block page_title %}Services{% endblock %}

| {% block og %}
meta(property="og:title", content="Services - Blender Cloud")
meta(property="og:url", content="https://cloud.blender.org/services")
meta(property="og:image", content="{{ url_for('static', filename='assets/img/backgrounds/background_services.jpg')}}")
| {% endblock %}

| {% block header_backdrop %}
.navbar-backdrop(
	style="background-image: url({{ url_for('static', filename='assets/img/backgrounds/background_services.jpg')}})")
| {% endblock %}

| {% block body %}
#page-container
	#page-header
		.page-title
			i.pi-blender-cloud-logo
			em SERVICES
		.page-title-summary
			| Personal Projects · Blender Integration · Texture Browsing · Production Management

	#page-content
		section.page-card.services-projects

			.page-card-side
				.page-card-title Private Projects
				.page-card-summary.
					Create and manage your own personal projects.
					Upload assets and collaborate with other Blender Cloud members.

				a.page-card-cta(
					href="https://cloud.blender.org/blog/introducing-private-projects")
					| Learn More

			.page-card-side
				.page-card-icon

		section.page-card.right.services-textures

			.page-card-side
				.page-card-title Texture Browser Add-On
				.page-card-summary.
					Access the <a href="https://cloud.blender.org/p/textures/">Blender Cloud Textures</a> library from within Blender using our exclusive add-on.
					Soon you'll be able to browse <em>your own</em> texture library.

				a.page-card-cta.download(
					href="https://storage.googleapis.com/institute-storage/addons/blender_cloud-1.0.1-bundle.zip")
					i.pi-download
					| Download <small>v</small>1.0
				a.page-card-cta(
					href="https://cloud.blender.org/blog/introducing-private-projects")
					| Learn More

			.page-card-side
				.page-card-icon

		section.page-card.services-attract

			.page-card-side
				.page-card-title
					| Attract
					small (soon)
				.page-card-summary.
					Production-management software for your film, game, or commercial projects.

			.page-card-side
				.page-card-icon

		| {% if not current_user.has_role('subscriber') %}
		section.page-card.subscribe(
			style="background-image: url({{ url_for('static', filename='assets/img/backgrounds/background_services.jpg')}});background-size: cover")
			.page-card-side
				.page-card-title
					| All of this, plus hours of training and production assets.
				.page-card-summary
					| Join us for only $9.90/month!
				a.page-card-cta(
					href="https://store.blender.org/product/membership/")
					| Subscribe Now
		| {% endif %}

| {% endblock %}

| {% block footer_scripts %}
| {% endblock %}
