| {% extends 'layout.html' %}

| {% block body %}

#project_container

	#node_index-container

		#node_index-header
			| {% if user %}
			#node_index-user-avatar
				img(src="{{ user.gravatar }}")
			#node_index-user-info
				.node_index-user-name {{user.name}}
				.node_index-user-description {{user.description}}
			| {% endif %}

		#node_index-collection-container
			.node_index-collection

				| {% for project in projects %}
				.node_index-collection-card-container
					.node_index-collection-card
						a.item-header(
							href="{{ url_for('project_view', name='bi', project=project.properties.url) }}")

							.overlay
							img.background(src="{{ project.properties.picture_header.thumbnail('l') }}")

						a.card-thumbnail(
							href="{{ url_for('project_view', name='bi', project=project.properties.url) }}")

							img.thumb(src="{{ project.properties.picture_square.thumbnail('m') }}")

						.item-info

							a.item-title(
								href="{{ url_for('project_view', name='bi', project=project.properties.url) }}")
								| {{project.name}}


							| {% if project.properties.summary %}
							p.item-description
								| {{project.properties.summary|safe}}
							| {% endif %}

				| {% endfor %}

| {% endblock %}
u
