| {% block og %}
| {% if project %}
meta(property="og:title", content="{{ node.name }} - {{ project.name }} - Blender Cloud")
| {% endif %}
| {% if project and project.properties.picture_header %}
meta(property="og:image", content="{{ project.properties.picture_header.thumbnail('l', api=api) }}")
| {% elif node and node.picture %}
meta(property="og:image", content="{{ node.picture.thumbnail('l', api=api) }}")
| {% endif %}
| {% endblock %}

| {% block header_backdrop %}
| {% if project and project.properties.picture_header %}
.navbar-backdrop(style="background-image: url({{ project.properties.picture_header.thumbnail('m', api=api) }})")
| {% elif node and node.picture %}
.navbar-backdrop(style="background-image: url({{ node.picture.thumbnail('m', api=api) }})")
| {% else %}
.navbar-backdrop
| {% endif %}
.navbar-backdrop-overlay
| {% endblock %}

| {% block body %}

.container.box
	#blog_container(class="{% if project._id == config.MAIN_PROJECT_ID %}cloud-blog{% endif %}")

		#blog_post-container
			| {% if project._id == config.MAIN_PROJECT_ID %}
			a.btn.btn-default.button-back(href="{{ url_for('project_view', project_url=project.properties.url) }}blog")
				| Back to Blog

			| {% if node.has_method('PUT') %}
			a.btn.btn-default.button-create(href="{{url_for('nodes.posts_edit', post_id=node._id)}}")
				| Edit Post
			| {% endif %}
			.clearfix
			| {% endif %}

			.blog_index-item
				| {% if node.picture %}
				.item-picture
					img(src="{{ node.picture.thumbnail('l', api=api) }}")
				| {% endif %}

				.item-title
					| {{node.name}}

				.item-info.
					<span title="{{node._created}}">{{node._created | pretty_date }}</span>
					{% if node._created != node._updated %}
					<span title="{{node._updated}}">(updated {{node._updated | pretty_date }})</span>
					{% endif %}
					{% if node.properties.category %}| {{node.properties.category}}{% endif %}
					| by {{node.user.full_name}}

				.item-content
					| {{node.properties.content }}


			#comments-container
				#comments-list-items-loading
					i.pi-spin

		| {% if project._id != config.MAIN_PROJECT_ID %}
		#blog_index-sidebar
			.blog_project-card
				a.item-header(
					href="{{ url_for('project_view', project_url=project.properties.url) }}")

					.overlay
					| {% if project.properties.picture_header %}
					img.background(src="{{ project.properties.picture_header.thumbnail('m', api=api) }}")
					| {% endif %}

				a.card-thumbnail(
					href="{{ url_for('project_view', project_url=project.properties.url) }}")
					| {% if project.properties.picture_square %}
					img.thumb(src="{{ project.properties.picture_square.thumbnail('m', api=api) }}")
					| {% endif %}

				.item-info

					a.item-title(
						href="{{ url_for('project_view', project_url=project.properties.url) }}")
						| {{ project.name }}

					| {% if project.properties.summary %}
					p.item-description
						| {{project.properties.summary|safe}}
					| {% endif %}
			.blog_project-sidebar
				| {% if node.has_method('PUT') %}
				a.btn.btn-default.button-create(href="{{url_for('nodes.posts_edit', post_id=node._id)}}")
					| Edit Post
				| {% endif %}

				a.btn.btn-default.button-back(href="{{ url_for('project_view', project_url=project.properties.url) }}blog")
					| Back to Blog
		| {% endif %}


| {% endblock %}


| {% block footer_scripts %}

include ../_scripts

| {% endblock %}
