
| {% block header_backdrop %}
| {% if project.properties.picture_header %}
.navbar-backdrop(style="background-image: url({{ project.properties.picture_header.thumbnail('m') }})")
.navbar-backdrop-overlay
| {% endif %}
| {% endblock %}

| {% block body %}

.container.box
	#blog_container

		#blog_post-container

			.blog_index-item

				.item-title
					| {{node.name}}

				.item-info
					| {{node._updated | pretty_date }} | {{node.properties.category}} by {{node.user.full_name}}

				.item-content
					| {{node.properties.content }}


			#comments-container
				#comments-list-items-loading
					i.pi-spin

		#blog_index-sidebar

			.blog_project-card
				a.item-header(
					href="{{ url_for('project_view', name='bi', project=project.properties.url) }}")

					.overlay
					img.background(src="{{ project.properties.picture_header.thumbnail('m') }}")

				a.card-thumbnail(
					href="{{ url_for('project_view', name='bi', project=project.properties.url) }}")

					img.thumb(src="{{ project.properties.picture_square.thumbnail('m') }}")

				.item-info

					a.item-title(
						href="{{ url_for('project_view', name='bi', project=project.properties.url) }}")
						| {{ project.name }}

					| {% if project.properties.summary %}
					p.item-description
						| {{project.properties.summary|safe}}
					| {% endif %}


| {% endblock %}


| {% block footer_scripts %}

include ../_scripts

| {% endblock %}
