
| {% block header_backdrop %}
| {% if project.properties.picture_header %}
.navbar-backdrop(style="background-image: url({{ project.properties.picture_header.thumbnail('m', api=api) }})")
.navbar-backdrop-overlay
| {% endif %}
| {% endblock %}

| {% block body %}

.container.box
	#blog_container

		#blog_post-container

			.blog_index-item
				| {% if node.picture %}
				.item-picture
					img(src="{{ node.picture.thumbnail('m', api=api) }}")
				| {% endif %}

				.item-title
					| {{node.name}}

				.item-info
					| {{node._updated | pretty_date }} | {{node.properties.category}} by {{node.user.full_name}}

				.item-content
					| {{node.properties.content }}


			#comments-container
				#comments-list-items-loading
					i.pi-spin

		#blog_index-sidebar
			| {% if project._id != config.MAIN_PROJECT_ID %}
			.blog_project-card
				a.item-header(
					href="{{ url_for('project_view', name='bi', project=project.properties.url) }}")

					.overlay
					| {% if project.properties.picture_header %}
					img.background(src="{{ project.properties.picture_header.thumbnail('m', api=api) }}")
					| {% endif %}

				a.card-thumbnail(
					href="{{ url_for('project_view', name='bi', project=project.properties.url) }}")
					| {% if project.properties.picture_square %}
					img.thumb(src="{{ project.properties.picture_square.thumbnail('m', api=api) }}")
					| {% endif %}

				.item-info

					a.item-title(
						href="{{ url_for('project_view', name='bi', project=project.properties.url) }}")
						| {{ project.name }}

					| {% if project.properties.summary %}
					p.item-description
						| {{project.properties.summary|safe}}
					| {% endif %}
			| {% endif %}
			| {% if node.has_method('PUT') %}
			.blog_project-sidebar
				a.btn.btn-default.button-create(href="{{url_for('nodes.posts_edit', post_id=node._id)}}")
					| Edit Post
			| {% endif %}


| {% endblock %}


| {% block footer_scripts %}

include ../_scripts

| {% endblock %}
