
#comments-container

	section#comments-list
		| {% if current_user.is_authenticated() %}
		.comment-reply-container

			.comment-reply-avatar
				img(src="{{ current_user.gravatar }}")

			.comment-reply-form

				.comment-reply-field
					textarea(
						id="comment_field",
						data-parent_id="{{ parent_id }}",
						placeholder="Join the conversation...",)

					.comment-reply-meta
						.comment-details
							.comment-rules
								a(
									title="Markdown Supported"
									href="https://guides.github.com/features/mastering-markdown/")
									i.ion-social-markdown

							.comment-author
								| commenting as
								span.author-name {{ current_user.username }}

						button.comment-action-cancel.btn.btn-outline(type="button")
							i.ion-ios-close-empty
						button.comment-action-submit.btn.btn-outline(type="button")
							| Post Comment

					.comment-reply-preview
		| {% endif %}

		section#comments-list-header
			#comments-list-items
				#comments-list-items-loading
					i.ion-load-c

			script#comment-template(type="text/x-handlebars-template")
				| {% raw %}

				| {{#list items }}
				.comment-container(
					data-node_id="{{ _id }}",
					class="{{#if is_team}}is-team{{/if}}{{#if is_reply}}is-reply{{else}}is-first{{/if}}")

					.comment-header
						.comment-avatar
							img(src="{{ gravatar }}")

						.comment-author
							| {{ author }}

						| {{#if is_team}}
						.comment-badge.badge-team team
						| {{/if}}

						.comment-time {{ time_published }}

					.comment-content {{{ content }}}

					.comment-meta
						.comment-rating(
							class="{{#if is_rated}}rated{{/if}}{{#if is_rated_positive}} positive{{/if}}")
							.comment-rating-value(title="Number of upvotes") {{ rating_up }}

							.comment-rating-action.up(title="Upvote comment")
							.comment-rating-action.down(title="Downvote comment")

						.comment-action-reply reply

				| {{/list}}
				| {% endraw %}

			script#comments-empty-template(type="text/x-handlebars-template")
				.nocomments
					| No comments... yet!

					| {% if not current_user.is_authenticated() %}
					|  ·
					a(href="{{ url_for('users.login') }}")  Sign in
					|  to comment.
					| {% endif %}


			| {# Build the list using individual
			//
				script#comments-list-template(type="text/x-handlebars-template")
					| {% raw %}

					| {{#list items }}
					| {{/list}}

					| {% endraw %}
			| #}



| {% block comment_scripts %}
script(type="text/javascript", src="{{ url_for('static', filename='assets/js/comments.min.js') }}")

script.

	// Get the comments list in JSON
	$.getJSON( "{{url_for('nodes.comments_index')}}?parent_id={{ parent_id }}&format=json", function( data ) {
		// Format using handlebars template
		var comments = template(data);

		if (comments && comments.trim() !="") {
			$('#comments-list-items').html(comments);
		} else {
			$('#comments-list-items').html(Handlebars.compile($('#comments-empty-template').html()));
		}
	});


	/* Submit comment */
	$('.comment-action-submit').click(function(e){

		$this = $(this);

		var $textarea = $('.comment-reply-field textarea');

		// Check if there's actual content in the textarea
		if ($textarea.val()) {

			$this.addClass('submitting');
			$this.html('<i class="ion-load-c"></i> Posting...');

			// Collect parent_id
			var commentField = document.getElementById('comment_field');
			parent_id = commentField.getAttribute('data-parent_id');

			$.post("{{url_for('nodes.comments_create')}}",

				// Submit content and parent_id for comment creation
				{'content': $('#comment_field').val(), 'parent_id': parent_id}
			)
			.done(function(){
				// Load the comments
				var url = "{{url_for('nodes.comments_index')}}?parent_id={{ parent_id }}";
				$.get(url, function(dataHtml) {
					// Update the DOM injecting the generate HTML into the page
					$('#comments-container').replaceWith(dataHtml);
				})
			});

		} else {
			// No content in the textarea
			$this.addClass('button-field-error');
			$textarea.addClass('field-error')
			$this.html("<i class='ion-android-happy'></i> Say something...");

			setTimeout(function(){
				$this.html('Post Comment');
				$this.removeClass('button-field-error');
				$textarea.removeClass('field-error');
			}, 2500);

		};
	});

| {% endblock %}
