| {% block head %}
link(rel="stylesheet", href="//releases.flowplayer.org/6.0.3/skin/minimalist.css")
| {% endblock %}

| {% block body %}

#node-container

	section.node-preview.video
		#flowplayer_container.is-splash.play-button(
			style="{% if node.picture %}background-image:url({{node.picture.thumbnail('l')}}); background-repeat:no-repeat; {% endif %}")
			.fp-startscreen.fp-toggle
				a.big-play-button
					i.ion-play
			.fp-endscreen
				a.watch-again.fp-toggle
					i.ion-android-refresh
					| Watch again
			.fp-loading
				i.ion-load-c.spin


	section.node-details-container.video

		.node-details-header
			.node-title
				| {{node.name}}

		.node-details-description
			| {{node.description}}

		.node-details-meta

			ul.node-details-meta-list
				li.node-details-meta-list-item.status
						| {{node.properties.status}}

				li.node-details-meta-list-item.date
					| {{ node._created }}

				li.node-details-meta-list-item.type
					| {{ node.properties.content_type }}

				li.btn-group.node-details-meta-list-item.video.download
					button.btn.btn-default.dropdown-toggle(
						type="button",
						data-toggle="dropdown",
						aria-haspopup="true",
						aria-expanded="false")
						| Download
						i.ion-ios-arrow-down.icon-dropdown-menu

					ul.dropdown-menu
						| {% for child in node.file_children._items %}
						li
							a(href="{{ child.link }}",
								title="Download this video format")
								span.length {{ child.length | filesizeformat }}

								span.format {{ child.format }}
								span.size {{ child.size }}

						| {% endfor %}

		#comments-container
			#comments-list-items-loading
				i.ion-load-c


| {% endblock %}

| {% block footer_scripts %}

script(type="text/javascript").
	var container = document.getElementById("flowplayer_container");

	flowplayer(container, {
		key: "{{config.FLOWPLAYER_KEY}}",
		embed: false,
		splash: true,
			clip: {
				sources: {{ node.video_sources | safe }}
			}
	});

include ../../_scripts

| {% endblock %}
