| {% extends 'layout.html' %}

| {% block page_title %}
| {% if user %}{{user.name}}{% elif title == 'open-projects' %}Open Projects{% elif title == 'training' %}Training{% endif %}
| {% endblock %}

| {% block header_backdrop %}
.navbar-backdrop(
	style="{% if title == 'open-projects' %}background-image: url({{ url_for('static', filename='assets/img/background_join_bbb.jpg')}}){% elif title == 'training' %}background-image: url({{ url_for('static', filename='assets/img/background_join_peoplecodingblender.jpg')}}){% endif %}")
.navbar-backdrop-overlay(class="{% if user %}homepage{% endif %}")
| {% endblock %}

| {% block body %}

#project_container

	#node_index-container

		| {% if user %}
		#node_index-header.user
			#node_index-user-avatar
				img(src="{{ user.gravatar }}")
			#node_index-user-info
				.node_index-user-name {{user.name}}
				.node_index-user-description {{user.description}}
		| {% endif %}

		| {% if title == 'open-projects' %}
		#node_index-header.collection
			#node_index-collection-info
				.node_index-collection-name Open Projects
				.node_index-collection-description.
					Full production data and tutorials from all open movies, for you to use freely.

		| {% elif title == 'training' %}
		#node_index-header.collection
			#node_index-collection-info
				.node_index-collection-name Training
				.node_index-collection-description.
					Production quality training videos by 3D professionals.
		| {% endif %}


		#node_index-collection-container
			.node_index-collection

				| {% for project in projects %}
				.node_index-collection-card-container
					.node_index-collection-card
						a.item-header(
							href="{{ url_for('project_view', name='bi', project=project.properties.url) }}")

							.overlay
							img.background(src="{{ project.properties.picture_header.thumbnail('l') }}")

						a.card-thumbnail(
							href="{{ url_for('project_view', name='bi', project=project.properties.url) }}")

							img.thumb(src="{{ project.properties.picture_square.thumbnail('m') }}")

						.item-info

							a.item-title(
								href="{{ url_for('project_view', name='bi', project=project.properties.url) }}")
								| {{project.name}}


							| {% if project.properties.summary %}
							p.item-description
								| {{project.properties.summary|safe}}
							| {% endif %}

				| {% endfor %}

| {% endblock %}
u
