| {% extends 'layout.html' %}

| {% block page_title %}Blog{% endblock%}

| {% block header_backdrop %}
| {% if project.picture_header %}
.navbar-backdrop(style="background-image: url({{ project.picture_header.thumbnail('m', api=api) }})")
.navbar-backdrop-overlay
| {% else %}
.navbar-backdrop
.navbar-backdrop-overlay
| {% endif %}
| {% endblock %}

| {% block body %}

.container.box
	#blog_container(class="{% if project._id == config.MAIN_PROJECT_ID %}cloud-blog{% endif %}")

		#blog_index-container

			| {% if project._id == config.MAIN_PROJECT_ID and project.node_type_has_method('post', 'POST', api=api) %}
			a.btn.btn-default.button-create(href="{{url_for('nodes.posts_create', project_id=project._id)}}")
				| Create New Post
			| {% endif %}

			| {% if posts %}

			| {% for node in posts %}

			.blog_index-item

				a.item-title(
					href="{{ url_for('nodes.view', node_id=node._id, redir=1) }}")
					| {{node.name}}

				.item-info.
					<span title="{{node._created}}">{{node._created | pretty_date }}</span>
					{% if node._created != node._updated %}
					<span title="{{node._updated}}">(updated {{node._updated | pretty_date }})</span>
					{% endif %}
					{% if node.properties.category %}| {{node.properties.category}}{% endif %}
					| by {{node.user.full_name}}
					| <a href="{{ url_for('nodes.view', node_id=node._id, redir=1) }}#comments">Leave a comment</a>
					{% if node.properties.status != 'published' %} | {{ node.properties.status}} {% endif %}

				.item-content
					| {{node.properties.content}}

				.item-meta
					a(href="{{ url_for('nodes.view', node_id=node._id, redir=1) }}#comments") Leave a comment

			| {% if not loop.last %}<hr/>{% endif %}

			| {% endfor %}

			| {% else %}

			.blog_index-item
				.item-content No posts yet.

			| {% endif %}

		| {% if project._id != config.MAIN_PROJECT_ID %}
		#blog_index-sidebar
			.blog_project-card
				a.item-header(
					href="{{ url_for('projects.view', project_url=project.url) }}")

					.overlay
					| {% if project.picture_header %}
					img.background(src="{{ project.picture_header.thumbnail('m', api=api) }}")
					| {% endif %}

				a.card-thumbnail(
					href="{{ url_for('projects.view', project_url=project.url) }}")
					| {% if project.picture_square %}
					img.thumb(src="{{ project.picture_square.thumbnail('m', api=api) }}")
					| {% endif %}

				.item-info

					a.item-title(
						href="{{ url_for('projects.view', project_url=project.url) }}")
						| {{ project.name }}

					| {% if project.summary %}
					p.item-description
						| {{project.summary|safe}}
					| {% endif %}

			| {% if project.node_type_has_method('post', 'POST', api=api) %}
			.blog_project-sidebar
				a.btn.btn-default.button-create(href="{{url_for('nodes.posts_create', project_id=project._id)}}")
					| Create New Post
			| {% endif %}
		| {% endif %}

| {% endblock %}

| {% block footer_scripts %}
include ../_scripts
| {% endblock %}
