| {% extends 'layout.html' %}

| {% block page_title %}Blog{% endblock%}

| {% block header_backdrop %}
| {% if project.properties.picture_header %}
.navbar-backdrop(style="background-image: url({{ project.properties.picture_header.thumbnail('m') }})")
.navbar-backdrop-overlay
| {% endif %}
| {% endblock %}

| {% block body %}

.container.box
	#blog_container

		#blog_index-container

			| {% if posts %}

			| {% for node in posts %}

			.blog_index-item

				a.item-title(
					href="{{ url_for('nodes.view', node_id=node._id, redir=1) }}")
					| {{node.name}}

				.item-info
					| {{node._updated | pretty_date }} | {{node.properties.category}} by {{node.user.full_name}}
					| |
					a(href="{{ url_for('nodes.view', node_id=node._id, redir=1) }}#comments")  comment

				.item-content
					| {{node.properties.content}}

			| {% endfor %}

			| {% else %}

			.blog_index-item
				.item-content No posts yet.

			| {% endif %}

		#blog_index-sidebar
			| {% if project._id != config.MAIN_PROJECT_ID %}
			.blog_project-card
				a.item-header(
					href="{{ url_for('project_view', name='bi', project=project.properties.url) }}")

					.overlay
					| {% if project.properties.picture_header %}
					img.background(src="{{ project.properties.picture_header.thumbnail('m') }}")
					| {% endif %}

				a.card-thumbnail(
					href="{{ url_for('project_view', name='bi', project=project.properties.url) }}")
					| {% if project.properties.picture_square %}
					img.thumb(src="{{ project.properties.picture_square.thumbnail('m') }}")
					| {% endif %}

				.item-info

					a.item-title(
						href="{{ url_for('project_view', name='bi', project=project.properties.url) }}")
						| {{ project.name }}

					| {% if project.properties.summary %}
					p.item-description
						| {{project.properties.summary|safe}}
					| {% endif %}
			| {% endif %}

			| {% if node_type_post and node_type_post.has_method('POST') %}
			.blog_project-sidebar
				a.btn.btn-default.button-create(href="/blog/create")
					| Create New Post
			| {% endif %}

| {% endblock %}

| {% block footer_scripts %}
include ../_scripts
| {% endblock %}
