| {% from '_macros/_file_uploader.html' import render_file_uploader %}

| {% block body %}

| {% with errors = errors %}
| {% if errors %}

| {% for field in errors %}
.alert.alert-danger(role="alert")
	strong {{field}}
	| {% for message in errors[field] %}
	| {{message}}|
	| {% endfor %}

| {% endfor %}

| {% endif %}
| {% endwith %}

| {% if error!="" %}
.alert.alert-danger(role="alert")
	| {{error}}

| {% endif %}

.col-md-12
	form(
		method="POST",
		enctype="multipart/form-data",
		action="{{url_for('nodes.edit', node_id=node._id)}}")


		hr

		| {% for field in form %}

		| {% if field.name == 'csrf_token' %}
		| {{ field }}

		| {% else %}

		| {% if field.type == 'HiddenField' %}
		| {{ field }}

		| {% else %}
		.form-group
			| {{ field.label }}
			| {{ field(class='form-control') }}
		| {% endif %}

		| {% endif %}

		| {% endfor %}

		a.btn.btn-danger(href="{{url_for('nodes.delete', node_id=node._id)}}") Delete

		.pull-right
			a.btn.btn-default(href="#") Cancel

			input#submit_edit_node.btn.btn-default.btn-success(
				data-node-id="{{node._id}}",
				type="submit",
				value="Update {{node.node_type.name}}")

| {{ render_file_uploader() }}

script(type="text/javascript").
	$("form").submit(function(event) {
		$.post("{{url_for('nodes.edit', node_id=node._id)}}",
			$(this).serialize(),
			function(dataHtml){
				$('#project_context').html(dataHtml);
			});
		event.preventDefault();
	});

| {% endblock %}
