| {% extends 'layout.html' %}

| {% block og %}
meta(property="og:title", content="{% if user %}{{user.name}}{% elif title == 'open-projects' %}Open Projects{% elif title == 'training' %}Training{% endif %}")
// XXX - Replace with actual url
meta(property="og:url", content="https://cloud.blender.org")
meta(property="og:type", content="website")
| {% endblock %}

| {% block tw %}
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@Blender_Cloud")
meta(name="twitter:title", content="{% if user %}{{user.name}}{% elif title == 'open-projects' %}Open Projects{% elif title == 'training' %}Training{% endif %} on Blender Cloud")
meta(name="twitter:description", content="{% if user %}{{user.description}}{% elif title == 'open-projects' %}Full production data and tutorials from all open movies, for you to use freely.{% elif title == 'training' %}Production quality training videos by 3D professionals.{% endif %}")
meta(name="twitter:image", content="{% if title == 'open-projects' %}{{ url_for('static', filename='assets/img/backgrounds/background_join_bbb.jpg')}}{% elif title == 'training' %}{{ url_for('static', filename='assets/img/backgrounds/background_join_peoplecodingblender.jpg')}}{% endif %}")
| {% endblock %}

| {% block page_title %}
| {% if user %}{{user.name}}{% elif title == 'open-projects' %}Open Projects{% elif title == 'training' %}Training{% else %}Projects{% endif %}
| {% endblock %}

| {% block header_backdrop %}
.navbar-backdrop(
	style="{% if title == 'open-projects' %}background-image: url({{ url_for('static', filename='assets/img/backgrounds/background_join_bbb.jpg')}}){% elif title == 'training' %}background-image: url({{ url_for('static', filename='assets/img/backgrounds/background_join_peoplecodingblender.jpg')}}){% endif %}")
.navbar-backdrop-overlay.collection
| {% endblock %}

| {% block body %}

#project_container

	#node_index-container

		| {% if user %}
		#node_index-header.user
			#node_index-user-avatar
				img(src="{{ user.gravatar }}")
			#node_index-user-info
				.node_index-user-name
					span {{user.name}}
				.node_index-user-description
					span {{user.description}}
		| {% endif %}

		#node_index-header.collection
			#node_index-collection-info

				| {% if title == 'open-projects' %}
				.node_index-collection-name
					span Open Projects
				.node_index-collection-description
					span Full production data and tutorials from all open movies, for you to use freely.

				| {% elif title == 'training' %}
				.node_index-collection-name
					span Training
				.node_index-collection-description
					span Production quality training videos by 3D professionals.

				| {% elif title == 'dashboard' %}
				.node_index-collection-name
					span Projects
				.node_index-collection-description
					span Create and manage your own projects on Blender Cloud
				| {% endif %}


		#node_index-collection-container
			.node_index-collection

				| {% for project in projects %}
				| {% if (project.status == 'published') or (project.status == 'pending' and current_user.is_authenticated()) and project._id != config.MAIN_PROJECT_ID %}

				.node_index-collection-card(
					data-url="{{ url_for('projects.view', project_url=project.url) }}")
					a.item-header(
						href="{{ url_for('projects.view', project_url=project.url) }}")

						| {% if project.picture_header %}
						img.background(src="{{ project.picture_header.thumbnail('m', api=api) }}")
						| {% endif %}

					a.card-thumbnail(
						href="{{ url_for('projects.view', project_url=project.url) }}")
						| {% if project.picture_square %}
						img.thumb(src="{{ project.picture_square.thumbnail('m', api=api) }}")
						| {% else %}
						i.pi-blender-cloud
						| {% endif %}

					.item-info
						a.item-title(
							href="{{ url_for('projects.view', project_url=project.url) }}")
							| {{project.name}}
							| {% if project.status == 'pending' and current_user.is_authenticated() and current_user.has_role('admin') %}
							small (pending)
							| {% endif %}

						| {% if project.summary %}
						p.item-description
							| {{project.summary|safe}}
						| {% endif %}

				| {% endif %}
				| {% endfor %}

				| {% if title == 'dashboard' and (current_user.has_role('subscriber') or current_user.has_role('admin')) %}
				.node_index-collection-card.create(
					data-url="{{ url_for('projects.create') }}")
					.item-info
						a.item-title#project-create(
							href="{{ url_for('projects.create') }}")
							i.pi-plus
							| Create New Project
				| {% endif %}


| {% endblock %}


| {% block footer_scripts %}
script.
	$('.node_index-collection-card').on('click', function(e){
		e.preventDefault();
		window.location.href = $(this).data('url');
	});

	$('#project-create').on('click', function(e){
		e.preventDefault();

		$('.node_index-collection-card.create').addClass('disabled');
		$(this).html('<i class="pi-spin spin"></i> Creating project...');

		window.location.href = $(this).attr('href');
	});
| {% endblock %}
