| {% block body %}

#node-container
	| {% if project.url == 'caminandes-3' %}
	iframe(
		style="height: 490px",
		src="https://www.youtube.com/embed/SkVqJ1SGeL0?rel=0&amp;controls=0&amp;showinfo=0",
		frameborder="0",
		allowfullscreen)
	| {% else %}
	section.node-preview.project
		| {% if project.picture_header %}
		img.header(src="{{ project.picture_header.thumbnail('l', api=api) }}")
		| {% endif %}
	| {% endif %}

	section.node-details-container.project

		.node-details-header
			.node-title-details
				.date(title="Last updated {{ project._updated | pretty_date }}") {{ project._created | pretty_date }}

				| {% if project.status %}
				.status {{project.status}}
				| {% endif %}

		.node-details-description
			| {{project.description}}

		.node-extra
			| {% if project.nodes_blog %}
			.node-blog
				ul.node-blog-list
					h3 Blog
					| {% for n in project.nodes_blog %}
					li.node-blog-list-item
						.info
							a.title(href="{{ url_for('nodes.view', node_id=n._id, redir=1) }}", data-node_id="{{ n._id }}") {{ n.name }}
							span.details
								span.when {{ n._updated | pretty_date }} by
								span.who {{ n.user.full_name }}
					| {% endfor %}
			| {% endif %}


			| {% if project.nodes_latest %}
			.node-updates
				ul.node-updates-list
					h3 Updated Assets
					| {% for n in project.nodes_latest %}
					| {% if n.node_type not in ['comment'] %}
					li.node-updates-list-item
						.info
							a.title(href="#", data-node_id="{{ n._id }}") {{ n.name }}
							span.details
								span.when {{ n._updated | pretty_date }} by
								span.who {{ n.user.full_name }}
					| {% endif %}
					| {% endfor %}
			| {% endif %}

			.node-featured
				h3 Featured Assets
				ul.node-featured-list
					| {% if project.nodes_featured %}

					| {% for n in project.nodes_featured %}
					li.node-featured-list-item
						| {% if n.picture %}
						a.image(href="#", data-node_id="{{ n._id }}")
							img(src="{{ n.picture.thumbnail('m', api=api) }}")
						| {% endif %}

						.info
							a.title(href="#", data-node_id="{{ n._id }}") {{ n.name }}
							span.details
								span.who by
									span {{ n.user.full_name }}
					| {% endfor %}

					| {% else %}

					li.node-featured-list-item
						.info
							span.details
								span.when No featured items yet.

					| {% endif %}

include _scripts

script().
	$(".node-updates-list-item a.title, .node-featured-list-item a.title, .node-featured-list-item a.image").unbind('click');
	$(".node-updates-list-item a.title, .node-featured-list-item a.title, .node-featured-list-item a.image").click(function(e) {
		e.preventDefault();
		displayNode($(this).data('node_id'));
	});
| {% endblock %}
